* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color: #404040;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: .4px;
    background: #eee;
    padding-top: 30px;
}

header {
    background-color: yellow;
    justify-content: center;
    align-items: center;
    display: block;
}

header h1 {
    color: #fff;
    background-color: rgb(119, 43, 96);
    padding: 1em;
    font-size: 3em;
    font-weight: 300;
    text-align: center;
}

header h2 {
    padding: 1em;
    background-color: rgb(237, 176, 219);
    color: #404040;
    padding-left: 28px;
    font-size: 18px;
    font-weight: 200;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 2em;
    font-weight: 200;
    text-align: center;
}

#buscar input,
#buscar button {
    margin: 40px 0 15px 0;
    background-color: white;
    
}

#buscar input {
    width: 300px;
    height: 35px;
    margin-right: 10px;
    
    
}

#buscar button {
    width: 120px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}

#buscar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img {
    height: 200px;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 8px;
    margin: 20px;
    width: 450px;
    height: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.card:hover {
    width: 470px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-content {
    padding: 20px 20px;
}

.card-title {
    padding-bottom: 25px;
}

.card-title a {
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.card-subtitle li {
    padding: 5px 0;
    list-style:none;
    font-size: 18px;
    font-weight: 500;
}

.card-subtitle li a {
    float: right;
}

footer {
    padding: 2em;
    background-color: rgb(233, 153, 195);
}

footer p {
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    display: flex;
}